<div class="col-md-6">
  <h3 class="text-center">Add INC</h3>
  <form>

  <div class="row">

    <div class="col">
       <div class="form-group">
        <label for="incidentID">Incident ID</label>
        <input type="incidentID" [(ngModel)]="inc.incidentID" placeholder="Incident ID " name="incidentId" class="form-control" id="incidentId">
      </div>
    </div>

    <div class="col">
      <div class="form-group">
        <label for="incidentType">Incident Type</label>
        <select [(ngModel)]="inc.incidentType" id="incidentType" name="type" class="form-control">
          <option selected>Choose...</option>
          <option valu="HIGH1">HIGH1</option>
        </select>
      </div>
    </div>
  
  </div>
  
  <div class="row">

    <div class="col">
      <div class="form-group">
        <label for="priority">Priority</label>
         <select [(ngModel)]="inc.priority" id="priority" name="prior" class="form-control">
          <option selected>Choose...</option>
          <option valu="HIGH">HIGH</option>
        </select>
      </div>
    </div>

    <div class="col">
      <div class="form-group">
        <label for="reportedDate">Reported Date</label>
        <input type="date" [(ngModel)]="inc.reportedDate" placeholder="Reported Date" name="rdate" class="form-control" id="reporteddate">
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col">
      <div class="form-group">
        <label for="storeNo">Store</label>
        <input [(ngModel)]="inc.storeNo" placeholder="Store" name="store" class="form-control" id="store">
      </div>
    </div>
  
    <div class="col"> 
      <div class="form-group">
        <label for="country">Country</label>
        <input [(ngModel)]="inc.country" placeholder="Country" name="count" class="form-control" id="country">
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="workedBy">Worked By</label>
        <input type="workedBy" [(ngModel)]="inc.workedBy" placeholder="Worked By" name="worked" class="form-control" id="workedby">
      </div>
    </div>
  
    <div class="col">
      <div class="form-group">
        <label for="breachedTime">Breached Time</label>
        <input type="date" [(ngModel)]="inc.breachedTime" placeholder="Breached Time" name="breached" class="form-control" id="breachedtime">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <label for="occurnce">Occurnce</label>
        <input [(ngModel)]="inc.occurnce" placeholder="Occurnce" name="occur" class="form-control" id="occurnce">
      </div>
    </div>
  </div>
    <button class="btn btn-success" (click)="createIncident()">Create</button>
  </form>
  </div>
